@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: rgb(218, 218, 218);
  color: white;
  width: 100%;
  height: 100vh;
}


body * {
  font-size: 1.6rem;
}

nav ul {
  padding: 1rem;
  min-height: calc(100vh - 6rem);
  display: flex;
  justify-content:center;
  align-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

li {
  position: relative;
  list-style: none;
  width: 100%;
  max-width: 16rem;
  aspect-ratio: 1/1;
  transition: all .4s;
}

nav ul a {
  position: relative;
  background-color: rgb(63, 63, 63);
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  gap: .6rem;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: .4rem;
  text-align: center;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  transition: all .4s;
  padding: 1rem;
}

nav ul button {
  display: none;
  background-color: #b1b1b1;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2.6rem;
  height: 2.6rem;
  border: none;
  border-radius: 100%;
  transition: all .4s;
  z-index: 90;
}
nav ul button > ion-icon {
  color: rgb(63, 63, 63);
}

ion-icon {
  color: white;
}

ion-icon {
  font-size: 2.4rem;
}

nav a:hover {
  background-color:rgb(0, 49, 141);
}

nav ul li:hover > button {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul li:hover > button:hover {
  background-color: #ffffff;
}

nav ul li:hover > button:hover ~ a {
  background-color: rgb(145, 0, 0);
}

#menu {
  background-color: #ffffff;
  position: fixed;
  left: 1rem;
  top: 1rem;
  padding: 1.6rem;
  border: none;
  border-radius: 50%;
  aspect-ratio: 1/1;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.45);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.45);
  transition: all .4s;
  z-index: 100;
}

#menu .icoMenu {
  position: relative;
  display: block;
  height: .2rem;
  width: 1.6rem;
  background-color: #000000;
  border-radius: .2rem;
  transition: all .4s;
}

#menu .icoMenu::after,
#menu .icoMenu::before {
  content: '';
  background-color: #000000;
  position: absolute;
  width: 100%;
  height: .2rem;
  left: 0;
  border-radius: .2rem;
  transition: all .4s;
}


#menu .icoMenu::after {
  top: .6rem;
}

#menu .icoMenu::before {
  top: -.6rem;
}

#menu:hover {
  background-color: rgb(0, 49, 141);
}

#menu:hover > .icoMenu,
#menu:hover > .icoMenu::after,
#menu:hover > .icoMenu::before {
  background-color: white;
}

#controles {
  top: 1rem;
  padding: 1rem;
  background-color: red;
  position: fixed;
  display: none;
  max-width: 30rem;
  margin-left: 6rem;
  gap: .8rem;
  flex-direction: column;
  z-index: 100;
  opacity: 0;
  transition: all 1s;
}

#controles.active {
  display: flex;
  opacity: 1;
  transition: all 1s;
}

#controles button {
  border: none;
  border-radius: .4rem;
  padding: 1.4rem 2rem;
}


#credits {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 6rem;
  padding: 2rem;
}

#credits a {
  display: flex;
  align-items: center;
  gap: .6rem;
  color: rgb(116, 116, 116);
  text-decoration: none;
}


#credits a ion-icon {
  font-size: 2.2rem;
  color: rgb(116, 116, 116);
}

@media (min-width: 1200px) {
  li {
    max-width: 20rem;
  }
  a {
    font-size: 1.6rem;

  }
}