@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: rgb(218, 218, 218);
  color: white;
  width: 100%;
  height: 100vh;
}


body * {
  font-size: 1.6rem;
}

nav {
  padding: 1rem;
  min-height: calc(100vh - 6rem);
  display: flex;
  justify-content:center;
  align-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

li {
  position: relative;
  list-style: none;
  width: 100%;
  max-width: 16rem;
  aspect-ratio: 1/1;
  transition: all .4s;
}

nav a {
  position: relative;
  background-color: rgb(63, 63, 63);
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  gap: .6rem;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: .4rem;
  text-align: center;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  transition: all .4s;
  padding: 1rem;
}

nav button {
  display: none;
  background-color: #b1b1b1;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2.6rem;
  height: 2.6rem;
  border: none;
  border-radius: 100%;
  transition: all .4s;
  z-index: 100;
}
nav button > ion-icon {
  color: rgb(63, 63, 63);
}


ion-icon {
  color: white;
}

ion-icon {
  font-size: 2.4rem;
}
/*
li:nth-last-child(-n + 1) a,
li:nth-last-child(-n + 1) a ion-icon {
  font-size: 4rem;
}
*/
nav a:hover {
  background-color:rgb(0, 49, 141);
}

nav li:hover > button {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav li:hover > button:hover {
  background-color: #ffffff;
}

nav li:hover > button:hover ~ a {
  background-color: rgb(145, 0, 0);
}


.controles {
  padding: 2rem;
}

.controles button {
  padding: 1rem 2rem;
}

.flutuante {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 2rem;
}

.flutuante button {
  background-color: rgb(63, 63, 63);
  width: 6rem;
  height: 6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  transition: all .4s;
}

.flutuante button:hover {
  background-color:rgb(253, 122, 0);
}

.flutuante button ion-icon {
  font-size: 2.1rem;
}


#credits {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 6rem;
  padding: 2rem;
}

#credits a {
  display: flex;
  align-items: center;
  gap: .6rem;
  color: rgb(116, 116, 116);
  text-decoration: none;
}


#credits a ion-icon {
  font-size: 2.2rem;
  color: rgb(116, 116, 116);
}

@media (min-width: 1200px) {
  li {
    max-width: 20rem;
  }
  a {
    font-size: 1.6rem;

  }
}